<div class="page-header">
  <%= link_to episodes_path, class: 'btn btn-default' do %>
    All Episodes
  <% end %>
  <%= link_to edit_episode_path(@episode), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show episode</h1>
</div>
